<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>calculate</title>
    <!-- <base href="calculate.html"> -->
  </head>
  <body>
    <h1>completed</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
      fugit possimus sit non deserunt mollitia voluptates impedit, ipsum autem
      accusantium. Inventore fuga ab officiis, repudiandae nihil dolorem tempora
      delectus est voluptatum suscipit natus corporis, ullam eum? Illo nobis
      maiores expedita aperiam! Architecto quibusdam fugiat rem nisi veniam
      temporibus adipisci voluptatibus. Aliquam nostrum consequuntur facilis
      beatae cupiditate. Omnis, tempora officia quas sed consectetur, architecto
      veniam nulla, ipsam rerum tempore id quaerat dolores mollitia consequatur
      minus perspiciatis harum fugiat? Natus, sint! Dicta veniam, amet ad
      aliquid tenetur commodi iste hic non ullam molestias! Beatae facere
      voluptatem quis ullam suscipit quibusdam. Blanditiis, deserunt.
    </p>
  </body>
</html>
