<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calcualte</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <base href="index.html"> -->
  </head>

  <body>
    <div class="container">
      <div class="box1">
        <nav class="navbar">
          <div class="logo">
            <h2>
              <span> Calcualte Your love Percentage </span>
            </h2>
            <div class="img_size img_logo_love">
              <img src="images/bg.png" alt="" />
            </div>
          </div>
        </nav>
        <div class="box2">
          <section id="contact" class="contact">
            <form  action="" method="POST">
              <div class="formgroup">
                <!-- <label for="">Name:</label> -->
                <input
                  type="nameuser"
                  id="nameuser"
                  name="username"
                  placeholder="Enter Your Name"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="formgroup">
                <!-- <label for="">E-mail:</label> -->
                <input
                  type="namelove"
                  id="namelove"
                  name="crushname"
                  placeholder="Enter Your Love/Crush Name"
                  autocomplete="off"
                  required
                />
              </div>
              <div id="btn">
                <button type="submit" value="submit">Calcualte</button>
              </div>
            </form>
          </section>
        </div>
        <footer class="footer">
          Copyright &copy; www.love.com. All rights reserved!
        </footer>
      </div>
    </div>
  </body>
</html>
